@media only screen and (max-width: 992px) {
    .col-md-2 a{
        font-size: 12px;
    }
    .footer .ft{
        font-size: 300%;
    }
    .footer p{
        transform: translateY(-5px);
    }
    .company{
        display: flex;
        flex-direction: column;
    }
    .decrip_certificate{
        padding:6% 0 0 13%;
    }
    .cv .project .badge{
        width: 3rem;
        padding: 5px;
    }
    .cv .project .name_pro{
        height: 100px;
    }
    .cv .project .decribe_pro{
        height: 330px;
    }

    .cv .hoby .list_hoby .col-3{
        width:27% ;
        margin: 10px;
    }


/***************************************************/
/**********CHARTER***********/

    .timeline .pad{
        display: flex;
        flex-direction: column;/*các flex xếp thành cột*/
    }
    .timeline .pad .nav{
        display: flex;
        flex-direction: column;
    }
    .charter .col-4,.charter .col-8,.charter .col-3,.charter .col-9,.charter .col-6,.charter .col-6{
        width: 100%;
    }
    .goals{
        margin-left: 0;
        margin-top: 10px;
        height: max-content;/*chiều cao bao quanh content*/
    }
    .scope{
        margin-bottom: 0;
        margin-top: 0;
        height: max-content;
    }
    .team{
        margin-top:10px ;
        height: max-content;
    }
    .primary{
        margin: 0;
        height: max-content;
    }
    .timeline{
        margin-top: 10px;
        margin-right: 0;
        height: max-content;
    }

}
